{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}

    {{ form_start(form, { 'attr' : { 'id': 'login-form' } }) }}

        <p style="position: relative; bottom: 50px; font-size: 2rem;">Mot de passe</p>
        <div style="margin-bottom: 40px;">
            {{ form_errors(form.password.first) }}
            {{ form_errors(form.password.second) }}
        </div>
        

        <div class="input">
            {{ form_widget(form.password.first) }}
            {{ form_label(form.password.first) }}
        </div>

        <div class="input">
            {{ form_widget(form.password.second) }}
            {{ form_label(form.password.second) }}
        </div>

        <button class="alert-btn" style="width: 40%;" type="submit">Modifier</button>

    {{ form_end(form) }}

{% endblock %}
