{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="container">

        <div class="form">

            {{ form_start(form, { 'attr' : { 'class': 'formConfirm' } }) }}
                <a href="{{ path('franchises') }}" class="return-arrow"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i></a>

                <h2 style="margin-bottom: 30px;">Créer une nouvelle franchise</h1>

                <div class="input">
                    {{ form_widget(form.email) }}
                    <label for="create_franchise_form_email">Email</label>
                </div>

                <div class="input">
                    {{ form_widget(form.name) }}

                    <label for="create_franchise_form_name">Nom</label>
                </div>

                <div class="input">
                    {{ form_widget(form.site) }}
                    <label for="create_franchise_form_email">Site</label>
                </div>

                {{ form_widget(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}